.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}

@media (max-width: 1024px) {
  .container {
    max-width: 980px;
  }
}

@media (max-width: 600px) {
  .container {
    max-width: 100%;
    padding: 0 12px;
  }
}
